<a href="https://colab.research.google.com/github/Jwavely/Google-Colaboratory/blob/main/boston_perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(url)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
inde = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
depen = boston[['medv']]
print(inde.shape, depen.shape)

(506, 13) (506, 1)

In [4]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [5]:
model.fit(inde, depen, epochs=1000, verbose=0)
model.fit(inde, depen, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 3ms/step - loss: 27.3457
Epoch 2/10
16/16 [==============================] - 0s 3ms/step - loss: 27.3201
Epoch 3/10
16/16 [==============================] - 0s 4ms/step - loss: 27.7795
Epoch 4/10
16/16 [==============================] - 0s 4ms/step - loss: 27.3626
Epoch 5/10
16/16 [==============================] - 0s 3ms/step - loss: 27.1635
Epoch 6/10
16/16 [==============================] - 0s 3ms/step - loss: 27.3947
Epoch 7/10
16/16 [==============================] - 0s 3ms/step - loss: 27.0988
Epoch 8/10
16/16 [==============================] - 0s 4ms/step - loss: 27.7475
Epoch 9/10
16/16 [==============================] - 0s 3ms/step - loss: 27.1471
Epoch 10/10
16/16 [==============================] - 0s 4ms/step - loss: 27.9401

In [7]:
print(model.predict(inde[5:10]))
# 종속변수 확인
print(depen[5:10])

[[26.69044 ]
 [21.1488  ]
 [17.951725]
 [ 9.19545 ]
 [17.639751]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [8]:
# 모델의 수식 확인
print(model.get_weights())

[array([[-0.08847754],
       [ 0.08019962],
       [-0.0643089 ],
       [ 3.44214   ],
       [ 1.9758604 ],
       [ 3.5539997 ],
       [ 0.02345525],
       [-0.87577415],
       [ 0.1393525 ],
       [-0.00904784],
       [ 0.14297302],
       [ 0.01691313],
       [-0.615045  ]], dtype=float32), array([2.4639564], dtype=float32)]